[submodule "entreempregos_back"]
	path = entreempregos_back
	url = git@github.com:willsantos/entreempregos_back.git
[submodule "entreempregos_site"]
	path = entreempregos_site
	url = git@github.com:willsantos/entreempregos_site.git
[submodule "entreempregos_front"]
	path = entreempregos_front
	url = git@github.com:willsantos/entreempregos_front.git
[submodule "entreempregos_admin"]
	path = entreempregos_admin
	url = git@github.com:willsantos/entreempregos_admin.git
